.App {
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-color: #bcb19d;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  background: #403f40;
  color: white;
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 50px;
  box-shadow: 0 2px  5px #130606;
}

.title{
  color: white;
  padding: 15px;
  font-weight: bold;
  /*font-size: 18px;*/
  display: inline-block;
  padding: 10px !important;
  padding-left: 20px !important;

}

.tool-map{
  height: 294px;
  width: 50%;
  margin: 20px;
  margin-top: 70px;
  float: left;
  border-color: #4b3737;
  border-style: solid;
  box-shadow: 0 2px  5px #130606;
  /*padding-bottom: 50px;*/
  /*display: none;*/
}

.tool-lists{
  max-height: 300px;
  width: 43%;
  margin: 20px;
  margin-top: 70px;
  float: right;
  /*background-color: #9c3131;*/
}

.tile-main{
  margin-top: 50px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: calc(100vh - 60px);
}

.upper-tiles{
  max-height: 100px;
}
