.Map {
    /*width: 100%;*/
    height: calc(100% - 20px);
    border-radius: 5px;
    z-index: 0;
}
.map-wrapper{
  height: calc(100% - 40px);
  border-radius: 5px;
  z-index: 0;
}
.leaflet-draw{
    display: none !important;
}
