.widget{
    height:300px;
    align-content: center;
    text-align: center;
    /*background-color: #3f259c;*/
    width: 20%;
    display: inline-block;
    float: left;
    margin-top: 10px;
    display: flex;
    z-index: 999;
    position: relative;
    /*background-color: #9c3131;*/
}

.param-title{
    width: auto;
    height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: #00A707;
    line-height: 40px;
}

.param-list{
    height: 294px;
    width: 45%;
    background-color: #1d3e81;
    margin-top: 0;
    border-color: #4b3737;
    border-style: solid;
    box-shadow: 0 2px  5px #130606;
    display: inline-block;
}

.param-list-right{
    float: right;
}

.run-btn{
    bottom: 10px;
    position: absolute;
    width: calc(100% - 20px);
}

.add-btn{
    bottom: 10px;
    position: absolute;
    width: calc(100% - 20px);
}

.placement-notification{
    bottom: 10px;
    position: absolute;
    width: calc(100% - 20px);
    display: block;
    word-wrap: break-word;
    box-sizing: border-box;
}

.map-tile{
    background-color: #deb638;
    box-shadow: 0 2px  5px #130606;
    /*max-height: 50%;*/
}

.input-tile{
    background-color: #deb638;
    box-shadow: 0 2px  5px #130606;
}

.result-tile{
    background-color: #6aa2de;
    box-shadow: 0 2px  5px #130606;
    color: #00A707 !important;
    max-height: 100%;
}

.navbar-icon{
    float: right;
}

.navbar-icon:hover{
    color: #cccccc;
    cursor: pointer;
}
.delete-icon{
  float: right;
  color: white;
  padding: 2px;
    padding-top: 4px;
  padding-right: 10px
}
.delete-icon:hover{
  cursor: pointer;
  color: #cccccc;
}
.input-item{
  padding-left: 5px !important;
  border-radius: 0px;
    color: #56595d !important;
}

.input-item:hover{
  background-color: #deb638;
    box-shadow: 0 2px  5px #130606;
    font-weight: bold;
}

.menu-list{
    overflow-y: auto;
    height: calc(40vh - 60px);
    margin-bottom: 40px;
    margin-top: 5px;
    box-shadow: inset 0 0 5px #000000;
    background-color: #dec160;
    border-radius: 4px;
}
#area-list{
    height: 37vh;
    margin-bottom: 0px;
}
